<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Astrakhan Moders</title>
    <!-- Подключаем шрифт Patrick Hand с Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="page-content">
</head>
<body>
    <header>
        <h1>Добро пожаловать в базу знаний Discord Moders 75.</h1>
        <nav>
            <a href="/news">Новости</a>
            <a href="/chief">Руководство модерации</a>
        </nav>
    </header>
</body>
    <main>
       <h3><a href="/roles">Статья 1 - "Префиксы и роли"</a>
       <h3><a href="/vk">Статья 2 - "Беседы модерации (ВК)"</a>
       <h3><a href="/possibilities">Статья 3 - "Команды модерации"</a>
       <h3><a href="/rules">Статья 4 - "Правила модерации"</a>
    </main>
</html>
