<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Последние новости</title>
    <!-- Подключаем шрифт Patrick Hand с Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать в базу знаний Discord Moders 75.</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/chief">Руководство модерации</a>
        </nav>
    </header>
</body>
    <main>
    </main>
    <script src="script.js"></script>
</html>
