<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ники и префиксы пользователей</title>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="page-content">
</head>
<body>
    <header>
        <h1>Добро пожаловать в базу знаний Discord Moders 75.</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/news">Новости</a>
            <a href="/chief">Руководство модерации</a>
        </nav>
    </header>

    <main>
        <article>
            <h2>Префиксы/роли</h2>

            Если у пользователя есть роль (предположим - МО, 9 ранг) и нет префикса, вам необходимо сначала его оповестить о смене NickName по шаблону ниже.
            Далее вы прописываете команду смены ника в любой канал нашего сервера.
            <p>Пример: /setnick user:@.qumanity nick:[MO] Nikita_Stuart [9]</p>
            <br>
            <br>        
            <h3>Шаблоны упоминаний</h3>
            <p>@user корректирую ваш префикс.
            <p>@user снимаю вам префикс, так как у вас нет соответствующей роли.
            <p>@user ставлю вам префикс соответствующий вашей роли.
            <p>@user снимаю вам префикс, так как не наблюдаю предстоящих обзвонов.
            <br>
            <br>
            <h3>Шаблоны префиксов</h3>
            <h4>Организации (ранг 1-9):</h4>
            <p>[Пра-во] NickName [1]
            <p>[ГИБДД] NickName [2]
            <p>[УМВД] NickName [3]
            <p>[МО] NickName [4]
            <p>[ГБ] NickName [5]
            <p>[СМИ] NickName [6]
            <p>[ФСБ] NickName [7]
            <p>[А-ОПГ] NickName [8]
            <p>[Л-ОПГ] NickName [9]
            <p>[Б-ОПГ] NickName [9]
            <h4>Префикс лидеров:</h4><p> [L | ОРГН] NickName</p>
            <h4>Префикс хелперов:</h4><p> [АП] NickName</p>
        </article>
    </main>
</body>
</html>
