<!DOCTYPE html>
<html lang="ru">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила модерации</title>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="page-content">
</head>
<body>
    <header>

        <h1>Добро пожаловать в базу знаний Discord Moders 75.</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/news">Новости</a>
            <a href="/chief">Руководство модерации</a>
        </nav>
    </header>

    <main>
        <article>
            <h2>Правила модераторов</h2>
<h3>Общая информация — основное положение</h3>

<p>1.01. Модератор — это один из представителей Discord-сервера, который помогает пользователям в решении всеразличных вопросов, а также следит за порядком и соблюдением всех установленных правил.

<p>1.02. В обязанности работы модератора входит:

<p>• Контроль порядка в текстовых и голосовых каналах сервера;
<p>• Модерация поданных пользователями жалоб;
<p>• Оказание своевременной помощи пользователям сервера;
<p>• Повышение уровня досуга пользователей.

<p>1.03. Каждый модератор имеет полное право на выходные дни с одобрения главного модератора / заместителя главного модератора.

<p>1.04. У модераторов работает система выговоров, которая препятствует их повышению и пребыванию в статусе модератора.

<p>1.05. Выговор снимается по решению главного модератора / заместителя главного модератора по итогам проявленной активности и выполненного объема работы.

<p>1.06. Модерация сервера никогда не станет запрашивать всевозможные личные данные игроков сервера. В случае поступления подобного запроса необходимо незамедлительно сообщить главному модератору или его заместителю.

<p>1.07. Иерархия прав модераторов делится на восемь групп:
<p>• Первый уровень: младший модератор;
<p>• Второй уровень: модератор;
<p>• Третий уровень: старший модератор;
<p>• Четвертый уровень: куратор модерации;
<p>• Пятый уровень: заместитель главного модератора;
<p>• Шестой уровень: главный модератор;
<p>• Седьмой уровень: заместитель руководителя модераторов;
<p>• Восьмой уровень: руководитель модераторов.

<h3>Основные правила</h3>
<p><p>2.01. Запрещено выдавать наказания по доказательствам, которые предоставили в ЛС и т.д.
<p>2.02. Запрещено снимать или заменять наказания, выданные другим модератором.
⠀<p>• Исключение: главный модератор, заместитель главного модератора и руководство проекта (имея на то какую-либо причину).
<p>2.03. Все наказания обязательно должны выдаваться строго по регламенту сервера.
<p>2.04. Запрещено занимать какие-либо должности на проектах со схожей тематикой.
<p>2.05. Модератор обязан соблюдать субординацию по отношению к пользователям или коллегам.
<p>2.06. Модератор обязан своевременно предоставлять руководству доказательства на выданные наказания.
<p>2.07. Запрещено показывать свое преимущество над другими пользователями.
<p>2.08. Модератор обязан выдавать наказания беспристрастно.
<p>2.09. Модератор может занимать данную должность только на одном сервере проекта.
<p>2.10. Модератор обязан знать все актуальные правила сервера.
<p>2.11. Модератору запрещено распространять информацию касающуюся его деятельности.
<p>2.12. Если младший модератор не достиг должности модератора и покидает пост по собственному желанию, либо он снят с должности по каким-либо причинам, данный человек может быть занесен в черный список модераторов сроком до 90 дней.
<p>2.13. Главный модератор несет ответственность за свою команду модераторов, имеет право формировать команду на свое усмотрение, назначать на должности, а также снимать с должности модератора по утрате доверия.

        </article>
    </main>
</body>
</html>