<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Беседы модерации</title>
    <link href="https://fonts.googleapis.com/css2?family=Prosto+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <div class="page-content">
</head>
<body>
    <header>
        <h1>Добро пожаловать в базу знаний Discord Moders 75.</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/chief">Руководство модерации</a>
        </nav>
    </header>

    <main>
        <article>
            <h2>Беседы модерации</h2>
            <h3>Всего есть 6 бесед:</h3>
            <p>FLOOD: беседа предназначенная для общения и коммуникации состава модерации.
            <p>Отчетность модерации: беседа для отправки ежедневных отчетов.
            <p>Выданные наказания: в данную беседу нужно отправлять все выданные вами наказания (от устника до гбана).
            <p>Формы на выдачу наказаний: данная беседа предназначена для отправления и принятия форм на наказания или его снятия к примеру как баны).
            <p>INFO & NEWS: данная беседа предназначена для важной информации / новостей.
            <p>Обменник: данная беседа предназначена для обмена накопленных баллов на различные преимущества(/подписки).

        </article>
    </main>
</body>
</html>
